# This is not the most logical way to structure the data, but it's easy to loop in ansible.
users:
  - user: TAM_2009          # No dashes allowed in username. Must be quoted if all numbers.
    pubkey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEEzh7eIUFgJy/CLTHN+B0wlq3QK0aTZz/0FVfKCtdA0
    repo: TAM
    ssh: t@10.0.0.100       # For automatic backups by borg-daily
    mac: 02:42:ac:11:00:0a  # WOL for automatic backups

  - user: AMGS
    pubkey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMji6955pM7IL2rcaCYYJOxJcdMXY3fuXmB3itcOMTCw
    repo: AMGS
    ssh: am@andri.cl:2222   # Automatic backups over internet. WOL not supported.

  - user: old_laptop
    pubkey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICJwCmpqfCPFg4vCj95Qx656XQwyaLEA+J1McvZR5gGw
    repo: TAM
    # No automatic backups if no ssh key.

weekly_healthcheck: https://hc-ping.com/your-uuid-here

smarthealthc:
  - [https://hc-ping.com/your-uuid-here, /dev/disk/by-id/ata-ST...]

force_weekly_until: 2026-01-01
