- name: Set umask 022
  # umask 002 is perfectly fine for User Private Group (https://wiki.debian.org/Debate/umask),
  # but then ssh and zsh complain and need manual umask settings.
  ansible.builtin.lineinfile:
    path: "{{ item }}"
    regexp: "^session optional\t\t\tpam_umask.so"
    line: "session optional\t\t\tpam_umask.so nousergroups"
  loop:
    - /etc/pam.d/common-session
    - /etc/pam.d/common-session-noninteractive

- name: Set sudo nopasswd
  ansible.builtin.copy:
    dest: /etc/sudoers.d/nopasswd
    content: "%sudo ALL=(ALL:ALL) NOPASSWD:ALL\n"
    mode: "0440"

- name: Add group for borg user
  ansible.builtin.group:
    name: borg
    state: present

- name: Add borg user
  ansible.builtin.user:
    name: borg
    group: borg   # Without this, gid=100(users)
    password: "!"
    shell: /bin/zsh

    generate_ssh_key: true
    ssh_key_type: ed25519

- name: Add admin user to groups, and set zsh shell
  ansible.builtin.user:
    name: "{{ ansible_user_id }}"
    groups:
      - adm
      - borg
    append: true
    shell: /bin/zsh

- name: Add ssh AK flag to borg user
  ansible.builtin.file:
    state: touch
    path: /home/borg/.ssh/yes-this-is-borg-repo-server-user
    owner: borg
    group: borg
    mode: "0644"

- name: Add .gitconfig for borg user
  ansible.builtin.copy:
    src: files/.gitconfig
    dest: /home/borg/.gitconfig
    force: false  # Don't overwrite existing
    owner: borg
    group: borg
    mode: "0644"

- name: Create systemd user directory for borg
  ansible.builtin.file:
    path: /home/borg/.config/systemd/user
    state: directory
    owner: borg
    group: borg
    mode: "0755"

- name: Copy borg-daily user service files
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /home/borg/.config/systemd/user/
    owner: borg
    group: borg
    mode: "0644"
  loop:
    - files/borg-daily.service
    - files/borg-daily.timer

- name: Enable lingering for borg user
  ansible.builtin.command:
    cmd: loginctl enable-linger borg
    creates: /var/lib/systemd/linger/borg

- name: Get borg user UID
  ansible.builtin.command: id -u borg
  register: borg_user_uid
  changed_when: false

- name: Enable and start borg-daily.timer (user service)
  ansible.builtin.systemd:
    name: borg-daily.timer
    scope: user
    state: started
    enabled: true
    daemon_reload: true
  become: true
  become_user: borg
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ borg_user_uid.stdout }}"

- name: Create ~/.local/bin/
  ansible.builtin.file:
    path: /home/{{ ansible_user_id }}/.local/bin
    state: directory
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: '0755'

- name: Add shortcut for shell access to borg user
  # Like alias sb='sudo su - borg'
  ansible.builtin.copy:
    dest: /home/{{ ansible_user_id }}/.local/bin/sb
    content: |
      #!/bin/sh
      exec sudo su - borg
    owner: "{{ ansible_user_id }}"
    group: "{{ ansible_user_id }}"
    mode: '0755'
