- name: Verify
  hosts: all
  gather_facts: false
  tasks:
    - name: Verify reserved ext4 space
      ansible.builtin.script: get_ext4_reserved_space.sh /
      become: true
      changed_when: false
      register: ext4_reserved
      failed_when: ext4_reserved.stdout | trim != "2.0G"

    - name: Verify resulting authorized_keys
      ansible.builtin.script: verify_ak.sh
      changed_when: false

    - name: Verify shell prompt
      ansible.builtin.script: verify_shell.sh {{ item }}
      become: true
      loop:
        - "{{ ansible_user }}"
        - borg
      changed_when: false
      timeout: 3  # Prevent hang on "zsh compinit: ... Ignore insecure directories...?"

    - name: Authorize ssh localhost
      # ansible.posix.authorized_key would require loading pubkey from remote...
      ansible.builtin.script: auth_ssh_localhost.sh
      changed_when: true

    - name: Verify ssh
      ansible.builtin.script: verify_ssh.sh
      changed_when: true  # hook.sh

    - name: Verify Borg binary
      become: true
      become_user: borg
      ansible.builtin.command: /home/borg/.local/bin/borg --version
      changed_when: false
      register: borg_version
      failed_when: not borg_version.stdout.startswith('borg 1.')

    - name: Verify autosuspend is enabled
      ansible.builtin.shell: |
        set -e
        systemctl is-enabled autosuspend.service
        systemctl is-enabled autosuspend-detect-suspend.service
      changed_when: false

    - name: Get borg user UID
      ansible.builtin.command: id -u borg
      register: borg_user_uid
      changed_when: false

    - name: Verify borg-daily is enabled (user service)
      ansible.builtin.command: systemctl --user is-enabled borg-daily.timer
      tags:
        - skip_ansible_lint
      become: true
      become_user: borg
      environment:
        XDG_RUNTIME_DIR: "/run/user/{{ borg_user_uid.stdout }}"
      changed_when: false
