[Unit]
Description=A daemon to suspend your server in case of inactivity
Documentation=https://autosuspend.readthedocs.io/en/latest/systemd_integration.html
After=network.target

[Service]
ExecStart=/usr/local/bin/autosuspend \
   --config=/opt/pipx/venvs/autosuspend/etc/autosuspend.conf \
  --logging=/opt/pipx/venvs/autosuspend/etc/autosuspend-logging.conf \
  daemon

[Install]
WantedBy=multi-user.target
Also=autosuspend-detect-suspend.service
