[Unit]
Description=Borg daily routine

[Service]
Type=exec
User=borg
Group=borg
ExecSearchPath=/home/borg/.local/bin/
WorkingDirectory=/home/borg/tamborgcont/
ExecStart=poetry -q run python -m daily.main
Environment="PATH=/home/borg/.local/bin/:/usr/local/sbin:/usr/local/bin:/sbin:/bin"
