[Unit]
Description=Release tamborg locks before serving repositories
# in case system crashes and pam close_session is not called.

Before=hpnssh.service
Wants=hpnssh.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=borg
Group=borg
ExecStart=/home/borg/tamborgcont/hook.sh tamborg-release-lock

[Install]
WantedBy=multi-user.target
